@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.login-container-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
    gap: 30px;
    background-color: #f1fbf9;
    overflow: hidden;
}

.login-container-page .failedMessage {
    margin-top: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #60615f;
    animation: shake 0.5s;
}

.login-box {
    position: relative;
    width: 85vw;
    height: 65vh;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    animation: slideFromRight 0.5s ease-out forwards;
    opacity: 0;
}

.login-box::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../assets/login-image/LoginImage.jpeg");
    background-size:cover;
    background-position: end;
    opacity: 0.5;
    z-index: 0;
    border-radius: 15px;
}

.login-box > * {
    position: relative;
    z-index: 1;
}

.login-form {
    border-radius: 30px;
    width: 20vw;
    animation: slideFromLeft 0.5s ease-out forwards;
    opacity: 0;
    align-items: center;
}

.signin-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form span {
    font-family: "Space Grotesk";
    font-weight: 600;
    color: #60615f;
    font-size: 32px;
}

.form-field {
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    font-family: "Poppins", sans-serif;
    padding: 10px;
    border: 1px solid #9c9d9a;
    border-radius: 10px;
    background-color: #f1fbf9;
    text-align: center;
    margin-top: 10px;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
    color: #9c9d9a6e;
    text-align: center;
}

.login-button-signin {
    font-size: 1.0rem;
    font-family: "Poppins", sans-serif;
    padding: 0.5vh 5vw;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
    color: #f1fbf9;
    border: 0;
    background-color: #cc8275;
    transform-origin: center;
    transition: background-color 0.3s, padding 0.3s;
}

.login-button-signin:hover {
    padding: 0.5vh 8vw;
}

.signup-button-newuser {
    font-size: 1.0rem;
    font-family: "Poppins", sans-serif;
    padding: 0.5vh 2.5vw;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #f1fbf9;
    border: 0;
    background-color: #797976;
    transform-origin: center;
    transition: background-color 0.3s, padding 0.3s;
}

.signup-button-newuser:hover {
    padding: 0.5vh 5vw;
}

@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}